<h1>Editando a Tarefa </h1>
<% form_for([:project, @task_type]) do |f| %> 
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p><%= f.submit "Atualizar" %></p>
<% end %>
<%= link_to 'Voltar', @task_type.project %> 
