<p>
  <b>Data de Início:</b>
  <%=h @project_membership.joined %>
</p>

<p>
  <b>Data de Fim:</b>
  <%=h @project_membership.leaved %>
</p>

<p>
  <b>Usuário:</b>
  <%=h @project_membership.user %>
</p>

<p>
  <b>Projeto:</b>
  <%=h @project_membership.project %>
</p>
